.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fbfbfb;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  transition: transform 0.2s ease;
}

.card-icon {
  padding: 20px;
  border-radius: 6px;
  margin-right: 24px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.card-data {
  font-weight: 700;
  font-size: 20px;
  color: #282d30;
}

.card-name {
  font-size: 14px;
  color: #74798c;
}
